In [3]:
import requests
import pandas as pd
import io

In [4]:
headers = {
    'Accept':'*/*',
'Accept-Encoding':'gzip, deflate, br, zstd',
'Accept-Language':'en-US,en;q=0.9,hi;q=0.8',
'Cookie':'_ga=GA1.1.1581850030.1716816880; _abck=C662FE9D69BF0B37B1CE6F488A98A2AE~0~YAAQhzYauIPufLqPAQAA9HqavwsTmd2hPHaza2QqxmSe3QuCvGhgiS0Pk7Wq1VX3fbtsQdGZ4+EkO1OKSMj598wGrzSz/2L8wPw0iUiVxln3djLchVzo7NqTTkeMtEq5Sp/Wy3ZgSGzTl8xqJn9akjVPQpjLo+Xy6prmQYeMNXzZqhWIeqnh9xt9fhWXsoiQpCf//q673b1NMyBSLYIJTfy+cprWdtLrg+neTWz0xp2Xfo/6fHBWpjbqockJ/AV6A6gCG9iHw8fAtDq3YCC2aM714exSAzcsGPPUTk7fcGLmrpW8DlxyXH1a/lLcW7zztJhGqrJ2wAZKL1I1/zUzS2aLCavi6G7mD+aQS6RRfjRDLXbVH98wTiB55yFHeEvSIlqHrcMXLUgJY0Fy1ambmbILBcIWJRkbHCA=~-1~-1~-1; nsit=KvZQIvCae4buQ5-zIkODBUZ2; AKA_A2=A; defaultLang=en; bm_mi=BDE7607344C2ADB07B595F203A05AB59~YAAQVnxBF1h3lbqPAQAAbXYKwBfAY0ttCs1n0IqXR82F4T0OGJZyt68qHll+2pZZ1YB9x9WOdDkXoOBsUbN0xiGGG4KG9gzuitqXPVwNi6hN0ryTrK3kD8t/1nNj+83J3is1IST6oy3XrOhnxN17Ppnzeh6qkJMCtjluAF9+MnDKvqvOgtZg8pkLiaOu1WNjiljwbVvPFd/B5jRaIGKvDgPkTdaQWOHlStNARQ4sNnc0Ac51pRGOpTd2YydZHsWLO4EbJk3oJU9j63kyCh2eT3aNrvx6w2WyvxBh4ToJuXw+e7MzSeObzINCqJiJVAEyg8wHxQnvs/k26uDRE1BYvQ==~1; nseQuoteSymbols=[{"symbol":"RELIANCE","identifier":null,"type":"equity"},{"symbol":"WIPRO","identifier":null,"type":"equity"},{"symbol":"TCS","identifier":null,"type":"equity"}]; ak_bmsc=AF342B1127AA3FCFAB9CCBD54C91A8CF~000000000000000000000000000000~YAAQVnxBF3l5lbqPAQAAFH4KwBfZGX/2Y4R//XsvWb1Tqi+eDqR5UTJBnP7U4h3XrFj6BgdWgpuAPeYhU2vu2B1TSIwBqr1o2SL/0Hw0dl4Je6NL2gYoWPW+8wV5GA7eLpOc1FvbZYBQQbMZHgXxASviL7nblh9rGvTaOpxTBSO3X2dTtEL2qN82L3EHFBpZCbJia/MY+SKl2rUM7bswg20mLSFPJzM+/aSO+xRn9KVNE0uY7WmrIegzFuO4//4dkiCtBy2syQr7eXz+yQtzZO3abP7q+AZHnnexPqQ0KITazd7Z+oqJxbS7QJTj4fkudrw1IgZoAG3UCPGfluclQZSGe7LgvXDJgFUJeht86aOdmH+INYudJqhLw1Q19opvanalBx9I0nQl6W8K5dGoMph9/+o540zh6jA0/e6PaY5VZNndlCB1hZDsckr/VcpD9SkgkC+f6oSrnUQezeWR/55+PrrSmnix9dtnJY4enIxp1HIQ0j6Xnlwk+zMxhXEr3w==; nseappid=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJhcGkubnNlIiwiYXVkIjoiYXBpLm5zZSIsImlhdCI6MTcxNjkxMzk1NiwiZXhwIjoxNzE2OTIxMTU2fQ.-oZgit2jh7l42k4uEydSCdLqjnl2jLNIKIBRxNu2zw8; bm_sz=295A0EAE200172278816E1BF97B8463E~YAAQVnxBFy3vlbqPAQAAjAgMwBcgK/aAlO3QtSfly5kM8OYLBhPJEnssLsPhNOVxpyxubHYzNqLmyfFpQcMWy6M6u+VVJaeJ5Jlq4brb1w90qZewkB76tnOakADoGy3+tPVfTGBK9jXULfUqREMSwQ1rUaSr565ooEHFAQkavoPMMIma5q4wHzYHFNjC3+KfyjoYTt7f7tp9komV1F8MROiRss8CjTJcEBi4ltUAqcIiLKU/4qgee8iIcaZpBxQnze2ajkg7S5/xg1uiWpwjpEqHAleITiZSgeRvYcEQv1prMQpn8hcBc+XUOYCB3YBRBGCeGAaBzhx1gYLxxjrNixcM2st1WSnUHE+i+EtFhY6MRAVRwUm/f1pFwFprBEAmNr0VF6odqZ+dbC69lmrI3PXW4MCE1N8nGA2i9LYW3c9SFkHoZdzmfK7eKTt+L0DeBcQ/6+GqDoEqyDx1DcHZBTtfvJC38WI+2wR/l1PKrXviaetGKivgsw8fqna0MKM/tmqQ3JWAcSoqDXdArRBJrDnLbp4WQlFI8o5W5XklossN~3163443~3354928; RT="z=1&dm=nseindia.com&si=09328c1c-4e6d-4d83-98e8-5be5fb6043ad&ss=lwpwimuy&sl=4&se=8c&tt=56g&bcn=%2F%2F684d0d43.akstat.io%2F&obo=1&ld=2ds0&nu=kpaxjfo&cl=2pdo"; _ga_QJZ4447QD3=GS1.1.1716870775.5.1.1716870878.0.0.0; _ga_87M7PJ3R97=GS1.1.1716863428.5.1.1716870878.0.0.0; bm_sv=A6F87CBF946C3865CAD637FDCC18D270~YAAQVnxBFw77lbqPAQAAxTMMwBeQ7bh7d/WwBh4v+IKPvIMg+RPSHeK57GlaRysgKZ4G5BMcCef30SgHJZQb1G718w7yg+B3EEJ3rjGLs3H0ITNnk5WZqkmv9hu1/V9SgAEJgohgy98fRpGSYMjW7gGsq0Z3X/ghwPPBd3U4pMcRwRabz5HdvDM9hn15YrUmjuj9s0xL0p8OkNu7SaTfI3zZaz/XqH/1YpybafOucVJiLuRwgfhDoHpOK7qQcQDqJfZ7~1',
'Priority':'u=1, i',
'Referer':'https://www.nseindia.com/get-quotes/equity?symbol=TCS',

'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36'
}

In [5]:
response = requests.get(url='https://www.nseindia.com/api/historical/cm/equity?symbol=TCS&series=[%22EQ%22]&from=28-05-2023&to=28-05-2024',headers=headers)

In [6]:
response

In [7]:
response.content
tcs_data=pd.read_csv(io.StringIO(response.content.decode('utf-8')))

In [8]:
tcs_data.shape

(0, 1699)

In [9]:
tcs_data.head()

Empty DataFrame
Columns: [{"data":[{"_id":"6655c784a98fb0233572ced2", CH_SYMBOL:"TCS", CH_SERIES:"EQ", CH_MARKET_TYPE:"N", CH_TIMESTAMP:"2024-05-28", TIMESTAMP:"2024-05-27T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3870, CH_TRADE_LOW_PRICE:3830, CH_OPENING_PRICE:3858, CH_CLOSING_PRICE:3839.9, CH_LAST_TRADED_PRICE:3836.9, CH_PREVIOUS_CLS_PRICE:3847.05, CH_TOT_TRADED_QTY:1801993, CH_TOT_TRADED_VAL:6943692168.5, CH_52WEEK_HIGH_PRICE:4254.75, CH_52WEEK_LOW_PRICE:3156, CH_TOTAL_TRADES:123639, CH_ISIN:"INE467B01029", createdAt:"2024-05-28T12:01:08.705Z", updatedAt:"2024-05-28T12:01:08.705Z", __v:0, SLBMH_TOT_VAL:null, VWAP:3853.34, mTIMESTAMP:"28-May-2024"}, {"_id":"665476035dec2f370673c65c", CH_SYMBOL:"TCS".1, CH_SERIES:"EQ".1, CH_MARKET_TYPE:"N".1, CH_TIMESTAMP:"2024-05-27", TIMESTAMP:"2024-05-26T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3908.35, CH_TRADE_LOW_PRICE:3841.35, CH_OPENING_PRICE:3855, CH_CLOSING_PRICE:3847.05, CH_LAST_TRADED_PRICE:3847.65, CH_PREVIOUS_CLS_PRICE:3849.5, CH_TOT_TRADED_QTY:1841538, CH_TOT_TRADED_VAL:7144426662.95, CH_52WEEK_HIGH_PRICE:4254.75.1, CH_52WEEK_LOW_PRICE:3156.1, CH_TOTAL_TRADES:160642, CH_ISIN:"INE467B01029".1, createdAt:"2024-05-27T12:01:07.739Z", updatedAt:"2024-05-27T12:01:07.739Z", __v:0.1, SLBMH_TOT_VAL:null.1, VWAP:3879.6, mTIMESTAMP:"27-May-2024"}, {"_id":"66508182b31262c71f926c67", CH_SYMBOL:"TCS".2, CH_SERIES:"EQ".2, CH_MARKET_TYPE:"N".2, CH_TIMESTAMP:"2024-05-24", TIMESTAMP:"2024-05-23T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3883.8, CH_TRADE_LOW_PRICE:3844.3, CH_OPENING_PRICE:3878.25, CH_CLOSING_PRICE:3849.5, CH_LAST_TRADED_PRICE:3850.95, CH_PREVIOUS_CLS_PRICE:3893.45, CH_TOT_TRADED_QTY:1309452, CH_TOT_TRADED_VAL:5051369874.45, CH_52WEEK_HIGH_PRICE:4254.75.2, CH_52WEEK_LOW_PRICE:3156.2, CH_TOTAL_TRADES:88592, CH_ISIN:"INE467B01029".2, createdAt:"2024-05-24T12:01:06.872Z", updatedAt:"2024-05-24T12:01:06.872Z", __v:0.2, SLBMH_TOT_VAL:null.2, VWAP:3857.62, mTIMESTAMP:"24-May-2024"}, {"_id":"664f30011f8ae82623f72329", CH_SYMBOL:"TCS".3, CH_SERIES:"EQ".3, CH_MARKET_TYPE:"N".3, CH_TIMESTAMP:"2024-05-23", TIMESTAMP:"2024-05-22T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3905, CH_TRADE_LOW_PRICE:3825.5, CH_OPENING_PRICE:3840.95, CH_CLOSING_PRICE:3893.45, CH_LAST_TRADED_PRICE:3899, CH_PREVIOUS_CLS_PRICE:3832, CH_TOT_TRADED_QTY:2095742, CH_TOT_TRADED_VAL:8113203579, CH_52WEEK_HIGH_PRICE:4254.75.3, CH_52WEEK_LOW_PRICE:3156.3, CH_TOTAL_TRADES:131534, CH_ISIN:"INE467B01029".3, createdAt:"2024-05-23T12:01:05.820Z", updatedAt:"2024-05-23T12:01:05.820Z", __v:0.3, SLBMH_TOT_VAL:null.3, VWAP:3871.28, mTIMESTAMP:"23-May-2024"}, {"_id":"664dde839f9c4eeb8b259adf", CH_SYMBOL:"TCS".4, CH_SERIES:"EQ".4, CH_MARKET_TYPE:"N".4, ...]
Index: []

[0 rows x 1699 columns]

In [18]:
tcs_data.columns

Index(['{"data":[{"_id":"6655c784a98fb0233572ced2"', 'CH_SYMBOL:"TCS"',
       'CH_SERIES:"EQ"', 'CH_MARKET_TYPE:"N"', 'CH_TIMESTAMP:"2024-05-28"',
       'TIMESTAMP:"2024-05-27T18:30:00.000Z"', 'CH_TRADE_HIGH_PRICE:3870',
       'CH_TRADE_LOW_PRICE:3830', 'CH_OPENING_PRICE:3858',
       'CH_CLOSING_PRICE:3839.9',
       ...
       'updatedAt:"2024-02-14T12:01:03.590Z"', '__v:0.69',
       'SLBMH_TOT_VAL:null.69', 'VWAP:4092.1', 'mTIMESTAMP:"14-Feb-2024"}]',
       'meta:{"series":["EQ"]', 'fromDate:"28-05-2023"', 'toDate:"28-05-2024"',
       'symbols:["TCS"', 'TCS]}}'],
      dtype='object', length=1699)

In [19]:
tcs_data.columns = map(str.upper, tcs_data.columns.str.replace(' ',''))

In [20]:
tcs_data.columns

Index(['{"DATA":[{"_ID":"6655C784A98FB0233572CED2"', 'CH_SYMBOL:"TCS"',
       'CH_SERIES:"EQ"', 'CH_MARKET_TYPE:"N"', 'CH_TIMESTAMP:"2024-05-28"',
       'TIMESTAMP:"2024-05-27T18:30:00.000Z"', 'CH_TRADE_HIGH_PRICE:3870',
       'CH_TRADE_LOW_PRICE:3830', 'CH_OPENING_PRICE:3858',
       'CH_CLOSING_PRICE:3839.9',
       ...
       'UPDATEDAT:"2024-02-14T12:01:03.590Z"', '__V:0.69',
       'SLBMH_TOT_VAL:NULL.69', 'VWAP:4092.1', 'MTIMESTAMP:"14-FEB-2024"}]',
       'META:{"SERIES":["EQ"]', 'FROMDATE:"28-05-2023"', 'TODATE:"28-05-2024"',
       'SYMBOLS:["TCS"', 'TCS]}}'],
      dtype='object', length=1699)

In [21]:
tcs_data.head()

Empty DataFrame
Columns: [{"DATA":[{"_ID":"6655C784A98FB0233572CED2", CH_SYMBOL:"TCS", CH_SERIES:"EQ", CH_MARKET_TYPE:"N", CH_TIMESTAMP:"2024-05-28", TIMESTAMP:"2024-05-27T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3870, CH_TRADE_LOW_PRICE:3830, CH_OPENING_PRICE:3858, CH_CLOSING_PRICE:3839.9, CH_LAST_TRADED_PRICE:3836.9, CH_PREVIOUS_CLS_PRICE:3847.05, CH_TOT_TRADED_QTY:1801993, CH_TOT_TRADED_VAL:6943692168.5, CH_52WEEK_HIGH_PRICE:4254.75, CH_52WEEK_LOW_PRICE:3156, CH_TOTAL_TRADES:123639, CH_ISIN:"INE467B01029", CREATEDAT:"2024-05-28T12:01:08.705Z", UPDATEDAT:"2024-05-28T12:01:08.705Z", __V:0, SLBMH_TOT_VAL:NULL, VWAP:3853.34, MTIMESTAMP:"28-MAY-2024"}, {"_ID":"665476035DEC2F370673C65C", CH_SYMBOL:"TCS".1, CH_SERIES:"EQ".1, CH_MARKET_TYPE:"N".1, CH_TIMESTAMP:"2024-05-27", TIMESTAMP:"2024-05-26T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3908.35, CH_TRADE_LOW_PRICE:3841.35, CH_OPENING_PRICE:3855, CH_CLOSING_PRICE:3847.05, CH_LAST_TRADED_PRICE:3847.65, CH_PREVIOUS_CLS_PRICE:3849.5, CH_TOT_TRADED_QTY:1841538, CH_TOT_TRADED_VAL:7144426662.95, CH_52WEEK_HIGH_PRICE:4254.75.1, CH_52WEEK_LOW_PRICE:3156.1, CH_TOTAL_TRADES:160642, CH_ISIN:"INE467B01029".1, CREATEDAT:"2024-05-27T12:01:07.739Z", UPDATEDAT:"2024-05-27T12:01:07.739Z", __V:0.1, SLBMH_TOT_VAL:NULL.1, VWAP:3879.6, MTIMESTAMP:"27-MAY-2024"}, {"_ID":"66508182B31262C71F926C67", CH_SYMBOL:"TCS".2, CH_SERIES:"EQ".2, CH_MARKET_TYPE:"N".2, CH_TIMESTAMP:"2024-05-24", TIMESTAMP:"2024-05-23T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3883.8, CH_TRADE_LOW_PRICE:3844.3, CH_OPENING_PRICE:3878.25, CH_CLOSING_PRICE:3849.5, CH_LAST_TRADED_PRICE:3850.95, CH_PREVIOUS_CLS_PRICE:3893.45, CH_TOT_TRADED_QTY:1309452, CH_TOT_TRADED_VAL:5051369874.45, CH_52WEEK_HIGH_PRICE:4254.75.2, CH_52WEEK_LOW_PRICE:3156.2, CH_TOTAL_TRADES:88592, CH_ISIN:"INE467B01029".2, CREATEDAT:"2024-05-24T12:01:06.872Z", UPDATEDAT:"2024-05-24T12:01:06.872Z", __V:0.2, SLBMH_TOT_VAL:NULL.2, VWAP:3857.62, MTIMESTAMP:"24-MAY-2024"}, {"_ID":"664F30011F8AE82623F72329", CH_SYMBOL:"TCS".3, CH_SERIES:"EQ".3, CH_MARKET_TYPE:"N".3, CH_TIMESTAMP:"2024-05-23", TIMESTAMP:"2024-05-22T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3905, CH_TRADE_LOW_PRICE:3825.5, CH_OPENING_PRICE:3840.95, CH_CLOSING_PRICE:3893.45, CH_LAST_TRADED_PRICE:3899, CH_PREVIOUS_CLS_PRICE:3832, CH_TOT_TRADED_QTY:2095742, CH_TOT_TRADED_VAL:8113203579, CH_52WEEK_HIGH_PRICE:4254.75.3, CH_52WEEK_LOW_PRICE:3156.3, CH_TOTAL_TRADES:131534, CH_ISIN:"INE467B01029".3, CREATEDAT:"2024-05-23T12:01:05.820Z", UPDATEDAT:"2024-05-23T12:01:05.820Z", __V:0.3, SLBMH_TOT_VAL:NULL.3, VWAP:3871.28, MTIMESTAMP:"23-MAY-2024"}, {"_ID":"664DDE839F9C4EEB8B259ADF", CH_SYMBOL:"TCS".4, CH_SERIES:"EQ".4, CH_MARKET_TYPE:"N".4, ...]
Index: []

[0 rows x 1699 columns]

In [22]:
tcs_data.dtypes

{"DATA":[{"_ID":"6655C784A98FB0233572CED2"    object
CH_SYMBOL:"TCS"                               object
CH_SERIES:"EQ"                                object
CH_MARKET_TYPE:"N"                            object
CH_TIMESTAMP:"2024-05-28"                     object
                                               ...
META:{"SERIES":["EQ"]                         object
FROMDATE:"28-05-2023"                         object
TODATE:"28-05-2024"                           object
SYMBOLS:["TCS"                                object
TCS]}}                                        object
Length: 1699, dtype: object

In [25]:
tcs_data['CH_SYMBOL:"TCS"'] = pd.to_datetime(tcs_data['CH_SYMBOL:"TCS"'])

In [26]:
tcs_data.head()

Empty DataFrame
Columns: [{"DATA":[{"_ID":"6655C784A98FB0233572CED2", CH_SYMBOL:"TCS", CH_SERIES:"EQ", CH_MARKET_TYPE:"N", CH_TIMESTAMP:"2024-05-28", TIMESTAMP:"2024-05-27T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3870, CH_TRADE_LOW_PRICE:3830, CH_OPENING_PRICE:3858, CH_CLOSING_PRICE:3839.9, CH_LAST_TRADED_PRICE:3836.9, CH_PREVIOUS_CLS_PRICE:3847.05, CH_TOT_TRADED_QTY:1801993, CH_TOT_TRADED_VAL:6943692168.5, CH_52WEEK_HIGH_PRICE:4254.75, CH_52WEEK_LOW_PRICE:3156, CH_TOTAL_TRADES:123639, CH_ISIN:"INE467B01029", CREATEDAT:"2024-05-28T12:01:08.705Z", UPDATEDAT:"2024-05-28T12:01:08.705Z", __V:0, SLBMH_TOT_VAL:NULL, VWAP:3853.34, MTIMESTAMP:"28-MAY-2024"}, {"_ID":"665476035DEC2F370673C65C", CH_SYMBOL:"TCS".1, CH_SERIES:"EQ".1, CH_MARKET_TYPE:"N".1, CH_TIMESTAMP:"2024-05-27", TIMESTAMP:"2024-05-26T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3908.35, CH_TRADE_LOW_PRICE:3841.35, CH_OPENING_PRICE:3855, CH_CLOSING_PRICE:3847.05, CH_LAST_TRADED_PRICE:3847.65, CH_PREVIOUS_CLS_PRICE:3849.5, CH_TOT_TRADED_QTY:1841538, CH_TOT_TRADED_VAL:7144426662.95, CH_52WEEK_HIGH_PRICE:4254.75.1, CH_52WEEK_LOW_PRICE:3156.1, CH_TOTAL_TRADES:160642, CH_ISIN:"INE467B01029".1, CREATEDAT:"2024-05-27T12:01:07.739Z", UPDATEDAT:"2024-05-27T12:01:07.739Z", __V:0.1, SLBMH_TOT_VAL:NULL.1, VWAP:3879.6, MTIMESTAMP:"27-MAY-2024"}, {"_ID":"66508182B31262C71F926C67", CH_SYMBOL:"TCS".2, CH_SERIES:"EQ".2, CH_MARKET_TYPE:"N".2, CH_TIMESTAMP:"2024-05-24", TIMESTAMP:"2024-05-23T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3883.8, CH_TRADE_LOW_PRICE:3844.3, CH_OPENING_PRICE:3878.25, CH_CLOSING_PRICE:3849.5, CH_LAST_TRADED_PRICE:3850.95, CH_PREVIOUS_CLS_PRICE:3893.45, CH_TOT_TRADED_QTY:1309452, CH_TOT_TRADED_VAL:5051369874.45, CH_52WEEK_HIGH_PRICE:4254.75.2, CH_52WEEK_LOW_PRICE:3156.2, CH_TOTAL_TRADES:88592, CH_ISIN:"INE467B01029".2, CREATEDAT:"2024-05-24T12:01:06.872Z", UPDATEDAT:"2024-05-24T12:01:06.872Z", __V:0.2, SLBMH_TOT_VAL:NULL.2, VWAP:3857.62, MTIMESTAMP:"24-MAY-2024"}, {"_ID":"664F30011F8AE82623F72329", CH_SYMBOL:"TCS".3, CH_SERIES:"EQ".3, CH_MARKET_TYPE:"N".3, CH_TIMESTAMP:"2024-05-23", TIMESTAMP:"2024-05-22T18:30:00.000Z", CH_TRADE_HIGH_PRICE:3905, CH_TRADE_LOW_PRICE:3825.5, CH_OPENING_PRICE:3840.95, CH_CLOSING_PRICE:3893.45, CH_LAST_TRADED_PRICE:3899, CH_PREVIOUS_CLS_PRICE:3832, CH_TOT_TRADED_QTY:2095742, CH_TOT_TRADED_VAL:8113203579, CH_52WEEK_HIGH_PRICE:4254.75.3, CH_52WEEK_LOW_PRICE:3156.3, CH_TOTAL_TRADES:131534, CH_ISIN:"INE467B01029".3, CREATEDAT:"2024-05-23T12:01:05.820Z", UPDATEDAT:"2024-05-23T12:01:05.820Z", __V:0.3, SLBMH_TOT_VAL:NULL.3, VWAP:3871.28, MTIMESTAMP:"23-MAY-2024"}, {"_ID":"664DDE839F9C4EEB8B259ADF", CH_SYMBOL:"TCS".4, CH_SERIES:"EQ".4, CH_MARKET_TYPE:"N".4, ...]
Index: []

[0 rows x 1699 columns]

In [28]:
tcs_data = tcs_data.replace({',': ''},regex=True)

In [29]:
tcs_data['OPEN'] = tcs_data['OPEN'].astype(float)
tcs_data['CH_SERIES:"EQ"'] = tcs_data['CH_SERIES:"EQ"'].astype(float)
tcs_data['LCH_MARKET_TYPE:"N" '] = tcs_data['CH_MARKET_TYPE:"N" '].astype(float)
tcs_data['PREV.CLOSE'] = tcs_data['PREV.CLOSE'].astype(float)
tcs_data['LTP'] = tcs_data['LTP'].astype(float)
tcs_data['VWAP'] = tcs_data['VWAP'].astype(float)
tcs_data['52WH'] = tcs_data['52WH'].astype(float)
tcs_data['52WL'] = tcs_data['52WL'].astype(float)
tcs_data['VOLUME'] = tcs_data['VOLUME'].astype(float)
tcs_data['VALUE'] = tcs_data['VALUE'].astype(float)
tcs_data['NOOFTRADES'] = tcs_data['NOOFTRADES'].astype(float)

KeyError: 'OPEN'

In [36]:
tcs_data.head()

,DATE,SERIES,OPEN,HIGH,LOW,PREV.CLOSE,LTP,CLOSE,VWAP,52WH,52WL,VOLUME,VALUE,NOOFTRADES
0,2024-05-27,EQ,3855.00,3908.35,3841.35,3849.50,3847.65,3847.05,3879.60,4254.75,3156.0,1841538.0,7.144427e+09,160642.0
1,2024-05-24,EQ,3878.25,3883.80,3844.30,3893.45,3850.95,3849.50,3857.62,4254.75,3156.0,1309452.0,5.051370e+09,88592.0
2,2024-05-23,EQ,3840.95,3905.00,3825.50,3832.00,3899.00,3893.45,3871.28,4254.75,3156.0,2095742.0,8.113204e+09,131534.0
3,2024-05-22,EQ,3835.00,3841.25,3817.55,3820.20,3831.50,3832.00,3830.73,4254.75,3156.0,1311168.0,5.022730e+09,101531.0
4,2024-05-21,EQ,3830.60,3844.75,3810.05,3851.45,3825.00,3820.20,3820.18,4254.75,3156.0,1908117.0,7.289344e+09,200205.0

In [37]:
tcs_data.dtypes

DATE          datetime64[ns]
SERIES                object
OPEN                 float64
HIGH                 float64
LOW                  float64
PREV.CLOSE           float64
LTP                  float64
CLOSE                 object
VWAP                 float64
52WH                 float64
52WL                 float64
VOLUME               float64
VALUE                float64
NOOFTRADES           float64
dtype: object

In [39]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.30-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manju\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.0)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading SQLAlchemy-2.0.30-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB 330.3 kB/s eta 0:00:07
    --------------------------------------- 0.0/2.1 MB 393.8 kB/s eta 0:00:06
   -- ------------------------------------- 0.1/2.1 MB 819.2 kB/s eta 0:00:03
   ---- ----------------------------------- 0.2/2.1 MB 1.3 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.8 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 2.7 MB/s eta 0:00:01
   ---------------- ----------------------- 0.9/2.1 MB 2.7 MB/s eta 0:00:01
   ------------------------ --------------- 1.3/2.1 MB 3.5 MB/s eta 0:00:01
   ---------------------------- ----------- 1.5/2.1 MB 3.8 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 3.8 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 3.3 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 3.3 MB/s eta 0:00:01
   ------------------------------------- -- 1.9/2.1 MB 3.3 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 3.2 MB/s eta 0:00:00
Downloading greenlet-3.0.3-cp312-cp312-win_amd64.whl (293 kB)
   ---------------------------------------- 0.0/293.6 kB ? eta -:--:--
   ---------------------------------------  286.7/293.6 kB 8.9 MB/s eta 0:00:01
   ---------------------------------------- 293.6/293.6 kB 6.0 MB/s eta 0:00:00
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.0.3 sqlalchemy-2.0.30
Note: you may need to restart the kernel to use updated packages.

In [41]:
! pip install sqlalchemy pymysql

Requirement already satisfied: sqlalchemy in c:\users\manju\appdata\local\programs\python\python312\lib\site-packages (2.0.30)
Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manju\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\manju\appdata\local\programs\python\python312\lib\site-packages (from sqlalchemy) (3.0.3)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------------------------ --- 41.0/45.0 kB 163.4 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 158.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [51]:
! pip install cryptography

Requirement already satisfied: cryptography in c:\users\manju\appdata\local\programs\python\python312\lib\site-packages (42.0.7)
Requirement already satisfied: cffi>=1.12 in c:\users\manju\appdata\local\programs\python\python312\lib\site-packages (from cryptography) (1.16.0)
Requirement already satisfied: pycparser in c:\users\manju\appdata\local\programs\python\python312\lib\site-packages (from cffi>=1.12->cryptography) (2.22)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from sqlalchemy import create_engine
tablename = 'ohlc_data'
#create the database engine
sql_engine = create_engine('mysql+pymysql://root:nandu@localhost/nse_data', pool_recycle=3600)
db_connection = sql_engine.connect()